# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# Virtual environment
venv/
env/
.venv/

# Model & data (large files)
model/*.h5
data/raw/
data/processed/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.exe
